.openid-login input[type="text"] {
  padding-left: 18px; }

.ie6 .openid-login input.text {
  padding-left: 18px; }

/* Skin */
.openid-login input[type="text"] {
  background: url(../../../Lithan-theme/images/common/openid.gif) no-repeat;
  background-color: #fff;
  background-position: 0 50%;
  color: #000; }

.ie6 .openid-login input.text {
  background: url(../../../Lithan-theme/images/common/openid.gif) no-repeat;
  background-color: #fff;
  background-position: 0 50%;
  color: #000; }